@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

li:nth-child(3n){
    color: #311B92;
    font-family: 'Montserrat', sans-serif;
}

li:nth-child(5n){
    background-color: #FFF176;
}

li:nth-child(2n){
    text-decoration: underline;
}

li:nth-child(odd){
    list-style-type: square;
}

li:nth-child(7n){
    font-size: 1.6em;
}

li:first-child{
    color: #E53935;
}

li:nth-child(4n){
    letter-spacing: 6px;
}

li:nth-child(13n){
    background-color: #FF8A80;
}
